.home__about {
	padding: 3% 0;
}

.home__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home__img {
	width: 40%;
}

.home__descr {
	width: 55%;
	font-size: 30px;
}
